<%- include('header') %>

<div class="container">
    <h1><%= title %></h1>
    <a href="/profile">Profile</a>
</div>

<br><a href="/transfer">Transfer</a>
<br><a href="/checking">Checking</a>
<br><a href="/savings">Savings</a>
<br><a href="/credit">Credit</a>


<%- include('footer') %>